.App {
  text-align: center;
}

.header{
  margin: 0 auto;
  width: 800px;
  display: flex;
  margin-top: 20px;
}

.header > span {
  width: 100%;
  padding: 20px;
  background-color: rgb(187, 187, 216);
  font-size: 2rem;
}

/* 공통 css */
.main-div{
  border: 1px solid black;
  margin: 0 auto;
  width: 800px;
}


